<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div class="logo-container mb-3 p-3 d-flex justify-content-between">
		<span class="logo">mudi</span>
    	<span class="mt-3">login</span>
		<div class="container">

			<div class="jumbotron mb-0">
				<h1 class="display-4">Meus Pedidos</h1>
			</div>

			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a  th:classappend="${status}  == 'null' ? 'active'"  class="nav-item nav-link active" href="/home">Todos</a>
					<a th:classappend="${status}  == 'Aguardando' ? 'active'" class="nav-item nav-link" href="/home/Aguardando">Aguardando</a>
					<a th:classappend="${status}  == 'Aprovado' ? 'active'"  class="nav-item nav-link" href="/home/Aprovado">Aprovado</a>
					<a th:classappend="${status}  == 'Entregue' ? 'active'"  class="nav-item nav-link" href="/home/Entregue">Entregue</a>
				</div>
				<a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
			</nav>


			<div class="card" th:each="pedido : ${pedidos}">
				<th:block th:switch="${pedido.status.nome()}"> 
				<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				<div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				<div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				</th:block>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5"> Valor: <span th:text="${pedido.valorNegociado}" >200,99</span></div>
								<div class="col-md-7">Data Entrega: <span th:text="${pedido.dataEntrega}">10/02/2020</span></div>
							</div>
							<div ><input class="form-control" th:value="${pedido.urlProduto}" value="Url do produto"> Produto </div>
							<div>Descrição</div>
							<div>
								<textarea th:text="${pedido.urlDescricao}" >Descricão do pedido</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${pedido.urlImagem}" src=""/>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
